* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* color: #3474a4; */
    font-family: "Montserrat", sans-serif;
    color: #333456;
  }
body {
    background-image: url("Quepal.jpg");
}
h1 {
    text-align: center;
    margin: 2rem 2rem;
    font-size: 26px;
}
#text {
    margin-bottom: 16px;
    font-size: 20px;
}
.containerContador {
    display: flex;
    justify-content: space-around;
}
.hijoContainer {
    width: 100px;
    height: 100px;
    background-color: #5aa469;
    border-width: 1px;
    border-style: dashed;
    border-color: #333456;
    transition: background-color 2s;
}
.padreContainer {
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: center;
    
}

.botonera {
    display: flex;
    justify-content: space-around;
}
.botonesReset {
    display: inline-block;
    width: 200px;
    margin: 10px 0;
    border: none;
    background: #5c6e91;
    cursor: pointer;
    padding: 16px 10px;
    border-radius: 0 6px 6px 0;
    font-size: 1.2rem;
    box-shadow: 2px 2px 2px #000;
    outline: none;
    transition-property: width, background;
    transition-duration: 1s;
    transition-timing-function: ease-in;
    color: #060930;
  }

  .botonesReset:hover {
    width: 260px;
    background: #9088d4;
  }
footer p {
    text-align: center;
}

